body{
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
    font-size: 20px;
}
header h1{
    text-align: center;
    background-color: rgb(55, 55, 155);
    margin-top: 0;
    padding: 5px;
}
.contenedores{
    float: left;
    width: 30%;
    margin-left: 160px;
    
}

.contenedores form > input{
    width: 99%;
    border-radius: 5px 5px 5px;
}
.contenedores textarea{
    width: 98.5%;
    border-radius: 5px 5px 5px;
}
.contenedores button{
    width: 100%;
    background-color: rgb(27, 70, 90);
    border: rgb(27, 70, 90) solid;
    border-radius: 5px 5px 5px;
    padding: 10px;
    color:white
}
.contenedores h2 ,h2{
    text-align: center;
}


/* cita.js */
.contenedor-cita{
    border-radius: 5px 5px 5px;
    border:2 px solid gray;
    background-color: white;
}
.contenedor-cita p{
    color: black;
    font-weight: 700;
    padding-left: 5px;
}
.contenedor-cita .span{
    color: rgb(41, 40, 40);
    font-weight: normal
}
.contenedor-cita input{
    width: 90%;
    padding:5px;
    background-color: rgb(136, 32, 32);
    color:white;
    
    margin: 0 0 10px 20px;
    border-radius: 5px 5px 5px;
    border:2px solid  rgb(136, 32, 32);
}







@media screen and (min-width:1300px){
    h1{
        font-size: 40px;
    }
    .contenedores{
        margin-left: 200px;
        font-size: 30px;
    }
    .contenedor-cita input{
        margin: 0 0 10px 20px;
    }
    
}




@media screen and (max-width:920px){
    .contenedores{
        margin-left: 120px;
    }
    .contenedor-cita input{
        margin: 0 0 10px 10px;
    }
    
}

@media screen and (max-width:720px){
    .contenedores{
        margin-left: 80px; 
    }
}

@media screen and (max-width:720px){
    .contenedores{
        width: 80%;
        float: none;
        margin: auto;
        
    }
    .contenedor-cita input{
        margin-left:20px}
}
@media screen and (max-width:450px){
    body h1{
        font-size: 27px;
    }
    .contenedores{
        width: 80%;
        float: none;
        margin: auto;
        
    }
    .contenedor-cita input{
        margin-left:12px}
}